/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body
{
	overflow: hidden;
	font-family: 'Outfit';
	background-color: hsl(217, 54%, 11%);
	padding: 20px;
	padding-top: 50px;

}

main
{
	background-color: hsl(216, 50%, 16%);
	border-radius: 10px;
	padding: 20px;
}

.parent 
{
	display: grid;
	width: 100%;
	max-height: 500px;
	object-fit: contain;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 1 / 3; } 
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 3 / 1 / 4 / 3; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
.div6 { grid-area: 5 / 1 / 6 / 3; }

div
{
	margin-top: auto;
	text-align: left;
}

/* Image NFT */

.div1 
{ 
	width: 100%;
}

#card
{
	width: 100%;
	border-radius: 10px;
}

/* Titre NFT */

.div2 h1
{
	text-align: left;
	font-weight: 500;
	font-size: 22px;
	color: white;
}

/* Description NFT */

.div3 p
{
	text-align: left;
	font-weight: 100;
	font-size: 16px;
	color: hsl(215, 51%, 70%);
	margin: auto;
}

/* Prix ETH*/

.div4
{
	margin-bottom: 10px;
	display: inline-flex;
	text-align: left;
}

.div4 h2
{
	font-weight: 500;
	font-size: 16px;
	color: hsl(178, 100%, 50%);
	margin: 0;
	padding-left: 10px;
}

/* Fin enchère */

.div5
{
	margin-bottom: 10px;
	display: inline-flex;
	justify-content: right;

}

.div5 p
{
	padding-left: 10px;
	font-weight: 100;
	font-size: 16px;
	color: hsl(215, 51%, 70%);
	margin: 0;
}

/* Nom du créateur */

.div6
{
	display: inline-flex;
	border-top: 0.1px solid hsl(215, 32%, 27%);
	padding-top: 10px;
}

.div6 p
{
	text-align: left;
	font-weight: 100;
	font-size: 16px;
	color: hsl(215, 51%, 70%);
	margin: auto;
	margin-left: 10px;
}

/* Icone du créateur */

#avatar
{
	width: 2em;
	border: 1px solid white;
	border-radius: 100%;
}



